.App {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.screen {
  min-width: 70vw;
  padding: 1%;
  border: 2px solid black;
  display: flex;
  margin: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btx {
  margin: 10%;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  min-width: 20vw;
  font-size: 30px;
  box-shadow: 5px 5px 10px grey;
}

.btx:focus {
  background-color: aqua;
}
